RevolutionContentManager/UnitTests/Service References/CharacterService/CharacterService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CharacterService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:57853/CharacterService.svc?xsd=xsd2" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:57853/CharacterService.svc?xsd=xsd0" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:57853/CharacterService.svc?xsd=xsd1" namespace="http://schemas.datacontract.org/2004/07/RevolutionDAL" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICharacterService_GetCharacter_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCharacter" />
  </wsdl:message>
  <wsdl:message name="ICharacterService_GetCharacter_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCharacterResponse" />
  </wsdl:message>
  <wsdl:message name="ICharacterService_SaveCharacter_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveCharacter" />
  </wsdl:message>
  <wsdl:message name="ICharacterService_SaveCharacter_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveCharacterResponse" />
  </wsdl:message>
  <wsdl:message name="ICharacterService_RemoveCharacter_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveCharacter" />
  </wsdl:message>
  <wsdl:message name="ICharacterService_RemoveCharacter_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveCharacterResponse" />
  </wsdl:message>
  <wsdl:message name="ICharacterService_GetAllCharacters_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCharacters" />
  </wsdl:message>
  <wsdl:message name="ICharacterService_GetAllCharacters_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCharactersResponse" />
  </wsdl:message>
  <wsdl:portType name="ICharacterService">
    <wsdl:operation name="GetCharacter">
      <wsdl:input wsaw:Action="http://tempuri.org/ICharacterService/GetCharacter" message="tns:ICharacterService_GetCharacter_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICharacterService/GetCharacterResponse" message="tns:ICharacterService_GetCharacter_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveCharacter">
      <wsdl:input wsaw:Action="http://tempuri.org/ICharacterService/SaveCharacter" message="tns:ICharacterService_SaveCharacter_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICharacterService/SaveCharacterResponse" message="tns:ICharacterService_SaveCharacter_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveCharacter">
      <wsdl:input wsaw:Action="http://tempuri.org/ICharacterService/RemoveCharacter" message="tns:ICharacterService_RemoveCharacter_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICharacterService/RemoveCharacterResponse" message="tns:ICharacterService_RemoveCharacter_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllCharacters">
      <wsdl:input wsaw:Action="http://tempuri.org/ICharacterService/GetAllCharacters" message="tns:ICharacterService_GetAllCharacters_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICharacterService/GetAllCharactersResponse" message="tns:ICharacterService_GetAllCharacters_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICharacterService" type="tns:ICharacterService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCharacter">
      <soap:operation soapAction="http://tempuri.org/ICharacterService/GetCharacter" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveCharacter">
      <soap:operation soapAction="http://tempuri.org/ICharacterService/SaveCharacter" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveCharacter">
      <soap:operation soapAction="http://tempuri.org/ICharacterService/RemoveCharacter" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllCharacters">
      <soap:operation soapAction="http://tempuri.org/ICharacterService/GetAllCharacters" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CharacterService">
    <wsdl:port name="BasicHttpBinding_ICharacterService" binding="tns:BasicHttpBinding_ICharacterService">
      <soap:address location="http://localhost:57853/CharacterService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>