RevolutionContentManager/RevolutionContentManager/Service References/ContentManagerSettingService/ContentManagerSettingService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ContentManagerSettingService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:57853/ContentManagerSettingService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:57853/ContentManagerSettingService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:57853/ContentManagerSettingService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/RevolutionDAL" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IContentManagerSettingService_GetSetting_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSetting" />
  </wsdl:message>
  <wsdl:message name="IContentManagerSettingService_GetSetting_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSettingResponse" />
  </wsdl:message>
  <wsdl:message name="IContentManagerSettingService_SaveSetting_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveSetting" />
  </wsdl:message>
  <wsdl:message name="IContentManagerSettingService_SaveSetting_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveSettingResponse" />
  </wsdl:message>
  <wsdl:portType name="IContentManagerSettingService">
    <wsdl:operation name="GetSetting">
      <wsdl:input wsaw:Action="http://tempuri.org/IContentManagerSettingService/GetSetting" message="tns:IContentManagerSettingService_GetSetting_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IContentManagerSettingService/GetSettingResponse" message="tns:IContentManagerSettingService_GetSetting_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveSetting">
      <wsdl:input wsaw:Action="http://tempuri.org/IContentManagerSettingService/SaveSetting" message="tns:IContentManagerSettingService_SaveSetting_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IContentManagerSettingService/SaveSettingResponse" message="tns:IContentManagerSettingService_SaveSetting_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IContentManagerSettingService" type="tns:IContentManagerSettingService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetSetting">
      <soap:operation soapAction="http://tempuri.org/IContentManagerSettingService/GetSetting" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveSetting">
      <soap:operation soapAction="http://tempuri.org/IContentManagerSettingService/SaveSetting" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ContentManagerSettingService">
    <wsdl:port name="BasicHttpBinding_IContentManagerSettingService" binding="tns:BasicHttpBinding_IContentManagerSettingService">
      <soap:address location="http://localhost:57853/ContentManagerSettingService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>