RevolutionDAL/UnitTests/Service References/CharacterService/CharacterService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/RevolutionDAL" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/RevolutionDAL" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Character">
    <xs:sequence>
      <xs:element minOccurs="0" name="CharacterPersonalities" nillable="true" type="tns:ArrayOfCharacterPersonality" />
      <xs:element minOccurs="0" name="Deleted" type="xs:boolean" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Gender" type="xs:boolean" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Character" nillable="true" type="tns:Character" />
  <xs:complexType name="ArrayOfCharacterPersonality">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CharacterPersonality" nillable="true" type="tns:CharacterPersonality" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCharacterPersonality" nillable="true" type="tns:ArrayOfCharacterPersonality" />
  <xs:complexType name="CharacterPersonality">
    <xs:sequence>
      <xs:element minOccurs="0" name="CharacterID" type="xs:int" />
      <xs:element minOccurs="0" name="PersonalityTypeID" type="xs:int" />
      <xs:element minOccurs="0" name="Rating" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CharacterPersonality" nillable="true" type="tns:CharacterPersonality" />
</xs:schema>