ServiceTester/ServiceTester/Service References/CharacterService/CharacterService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:57853/CharacterService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/RevolutionDAL" />
  <xs:element name="GetCharacter">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCharacterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/RevolutionDAL" minOccurs="0" name="GetCharacterResult" nillable="true" type="q1:Character" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveCharacter">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/RevolutionDAL" minOccurs="0" name="character" nillable="true" type="q2:Character" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveCharacterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/RevolutionDAL" minOccurs="0" name="SaveCharacterResult" nillable="true" type="q3:Character" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveCharacter">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveCharacterResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCharacters">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCharactersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/RevolutionDAL" minOccurs="0" name="GetAllCharactersResult" nillable="true" type="q4:ArrayOfCharacter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>